*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
}

.heading {
  font-family: monospace;
  padding: 0.5em;
  background: #444;
  color: white;
  text-align: center;
  font-size: xxx-large;
}

.frame {
  display: flex;
  width: 100vw;
  height: 60vh;
  align-items: center;
  justify-content: center;
}

canvas {
  display: inline;
  height: 100%;
  width: 100%;
}

.description {
  font-family: monospace;
  padding: 0.5em;
  background: #444;
  color: white;
}
